@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap'); 

@font-face {
    font-family: 'Muro-Slant';
    src:url('./webfonts_Muro-Slant/Muro-Slant.ttf.woff') format('woff'),
        url('./webfonts_Muro-Slant/Muro-Slant.ttf.svg#Muro-Slant') format('svg'),
        url('./webfonts_Muro-Slant/Muro-Slant.ttf.eot'),
        url('./webfonts_Muro-Slant/Muro-Slant.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
html {
     font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    background-color: #111111;
  }

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: beige;
    border-bottom: 0.2rem solid red;
    background-color: #111111;
    
}
header img{
    width: 100px;
    margin-left: 20px;
}
.material-icons {
    display: none;
    visibility: hidden;
    color: beige;
    font-size: 5rem;
    position: absolute;
    right: 5rem;
    top: 4rem;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.1em; 
    margin-right: 20px;
    
}

.header nav ul li a{
    text-decoration: none;
    letter-spacing: 0.1rem;
    position: relative;
    color: #fff;
    font-family: 'Muro-Slant';
    
}

.header nav ul li a::after{
 content: "";
 position: absolute;
 top: 2.2rem;
 left: 100%;
 width: 0;
 height: 0.2rem;
 background-color: red;
 transition: all 300ms ease-in-out;
}

.header nav ul li a:hover::after{
    width: 97%;
    left: 1%;
}

.header nav ul li{
    padding: 0.5rem;
} 




/* slider  */


.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-width: 100%;
    margin: auto;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3{
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet{
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}


/* main/conteudo */


.titulo{
    font-size: 30px;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Racing Sans One", Sans-serif;
    letter-spacing: 1.2px;
}

#cont_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modalidades{
    width: 370px;
    height: 250px;
    
    background-color: #aaaaaa;
    margin: 10px;
    display: flex;
    border-radius: 15px;
    align-items: end;
    
}
.modalidades:nth-child(1){
    background-image: url('img/muay.png');
    background-size: cover;
}
.modalidades:nth-child(2){
    background-image: url('img/jiu.jpg');
    background-size: cover;
}
.modalidades:nth-child(3){
    background-image: url('img/funcional.jpg');
    background-size: cover;
}
.modalidades:nth-child(4){
    background-image: url('img/muay-kids.jpg');
    background-size: cover;
}
.modalidades:nth-child(5){
    background-image: url('img/jiu-kids.jpg');
    background-size: cover;
}
.modalidades:nth-child(6){
    background-image: url('img/mma.jpg');
    background-size: cover;
}



.modalidades h4{
    margin: 20px;
    font-size: 30px;
    font-family: 'Muro-Slant';
    font-weight: normal;
}

.modalidades:hover{
    transform: scale(1.07);
    transition: all 0.5s;
}


.aula_exp{
    width: 95%;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    background-color: #579eec;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.aula_exp_txt{
    display: flex;
    align-items: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "Racing Sans One", Sans-serif;
}
.aula_exp_txt span:nth-child(2){
    padding: 50px;
}
.aula_exp_txt span:nth-child(4){
    padding: 100px;
}
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contato p{
    font-size: 40px;
    font-family: "Racing Sans One", Sans-serif;
}

#contato a{
    font-family: "Racing Sans One", Sans-serif;
}

.btn_whtz{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgb(1, 177, 1);
    font-size: 30px;
    margin-top: 10px;
    text-decoration: none;
}

.btn_whtz:hover{
    background-color: green;
    color: #fff;
}


/* main/conteudo pagina hoorarios */

#cont_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Muro-Slant';
}

#cont_img h2{
    margin: 30px;
}

#cont_img img{
    width: 200px;
}

.container{
    background-color: #151515;
}

body{margin-top:20px;}
.schedule-table table thead tr {
background: #fa1315;

}

.schedule-table{
    display: flex;
    justify-content: center;
}

.schedule-table table thead th {
padding: 20px 30px;
color: #fff;
text-align: center;
font-size: 20px;
font-weight: 800;
position: relative;
border: 0;
font-family: 'Muro-Slant';
letter-spacing: 1px;
}
.schedule-table table thead th:before {
content: "";
width: 3px;
height: 35px;
background: rgba(255, 255, 255, 0.2);
position: absolute;
right: -1px;
top: 50%;
transform: translateY(-50%);
}
.schedule-table table thead th.last:before {
content: none;
}
.schedule-table table tbody td {
vertical-align: middle;
border: 1px solid #e2edf8;
font-weight: 500;
padding: 30px;
text-align: center;
}
.schedule-table table tbody td.day {
font-size: 22px;
font-weight: 600;

border: 1px solid #e4e4e4;
position: relative;
transition: all 0.3s linear 0s;
min-width: 165px;
font-family: 'Muro-Slant';
letter-spacing: 1px;
}
.schedule-table table tbody td.active {
position: relative;
z-index: 10;
transition: all 0.3s linear 0s;
min-width: 165px;
}
.schedule-table table tbody td.active h4 {

color: #e4e4e4;
font-size: 20px;
margin-bottom: 5px;
font-family: "Racing Sans One", Sans-serif;
letter-spacing: 1px;

}
.schedule-table table tbody td.active p {
font-size: 16px;
line-height: normal;
margin-bottom: 0;

}
.schedule-table table tbody td .hover h4 {
font-size: 20px;
color: #ffffff;
margin-bottom: 5px;
}
.schedule-table table tbody td .hover p {
font-size: 16px;
margin-bottom: 5px;
color: #ffffff;
line-height: normal;
}
.schedule-table table tbody td .hover span {
color: #ffffff;
font-weight: 600;
font-size: 18px;
}
.schedule-table table tbody td.active::before {
position: absolute;
content: "";
min-width: 100%;
min-height: 100%;
transform: scale(0);
top: 0;
left: 0;
z-index: -1;
border-radius: 0.25rem;
transition: all 0.3s linear 0s;
}
.schedule-table table tbody td .hover {
position: absolute;
left: 50%;
top: 50%;
width: 120%;
height: 120%;
transform: translate(-50%, -50%) scale(0.8);
z-index: 99;
background: #fa1315;
border-radius: 0.25rem;
padding: 25px 0;
visibility: hidden;
opacity: 0;
transition: all 0.3s linear 0s;
}
.schedule-table table tbody td.active:hover .hover {
transform: translate(-50%, -50%) scale(1);
visibility: visible;
opacity: 1;
}
.schedule-table table tbody td.day:hover {
background: #fa1315;
color: #fff;
border: 1px solid #fff;
}
@media screen and (max-width: 1199px) {
.schedule-table {
display: block;
width: 100%;
overflow-x: auto;
}
.schedule-table table thead th {
padding: 25px 40px;
}
.schedule-table table tbody td {
padding: 20px;
}
.schedule-table table tbody td.active h4 {
font-size: 18px;
}
.schedule-table table tbody td.active p {
font-size: 15px;
}
.schedule-table table tbody td.day {
font-size: 20px;
}
.schedule-table table tbody td .hover {
padding: 15px 0;
}
.schedule-table table tbody td .hover span {
font-size: 17px;
}
}
@media screen and (max-width: 991px) {
.schedule-table table thead th {
font-size: 18px;
padding: 20px;
}
.schedule-table table tbody td.day {
font-size: 18px;
}
.schedule-table table tbody td.active h4 {
font-size: 17px;
}
}
@media screen and (max-width: 767px) {
.schedule-table table thead th {
padding: 15px;
}
.schedule-table table tbody td {
padding: 15px;
}
.schedule-table table tbody td.active h4 {
font-size: 16px;
}
.schedule-table table tbody td.active p {
font-size: 14px;
}
.schedule-table table tbody td .hover {
padding: 10px 0;
}
.schedule-table table tbody td.day {
font-size: 18px;
}
.schedule-table table tbody td .hover span {
font-size: 15px;
}
}
@media screen and (max-width: 575px) {
.schedule-table table tbody td.day {
min-width: 135px;
}
}



#valores h2{
    font-family: 'Muro-Slant';
    letter-spacing: 1px;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}


/* footer */

footer{
    width: 100%;
    display: flex;
    margin-top: 50px;
    border-top: 0.2rem solid red;

}

#cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Muro-Slant';
    
}

.logo{
    width: 200px;
    margin-left: 20px;
    
}
.icon{
    display: flex;
    margin-top: 20px;
}

.icon img{
    width: 70px;
    padding-right: 20px;
}

.icon img:hover{
    width: 85px;
    transition: all 0.5s;
}




 @media (max-width: 768px) {
    .header, .nav{ 
        display: block;
    }
    .nav{
    text-align: center;
    }

    nav{
        display: none;
    }

    .header h1{
        text-align: left;
        display: block;
        margin: 13px;
   } 
   .material-icons{
    display: inline-block;
    visibility: visible;
   }

   .titulo{
    text-align: center;
    margin: 30px;
   }

   .modalidades{
    width: 330px;
    height: 225px;

    
}
} 