@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap'); 

@font-face {
    font-family: 'Muro-Slant';
    src:url('./webfonts_Muro-Slant/Muro-Slant.ttf.woff') format('woff'),
        url('./webfonts_Muro-Slant/Muro-Slant.ttf.svg#Muro-Slant') format('svg'),
        url('./webfonts_Muro-Slant/Muro-Slant.ttf.eot'),
        url('./webfonts_Muro-Slant/Muro-Slant.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}
html {
     font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    background-color: #111111;
  }

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: beige;
    border-bottom: 0.2rem solid red;
    background-color: #111111;
    
}
header img{
    width: 100px;
    margin-left: 20px;
}
.material-icons {
    display: none;
    visibility: hidden;
    color: beige;
    font-size: 5rem;
    position: absolute;
    right: 5rem;
    top: 4rem;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.1em; 
    margin-right: 20px;
    
}

.header nav ul li a{
    text-decoration: none;
    letter-spacing: 0.1rem;
    position: relative;
    color: #fff;
    font-family: 'Muro-Slant';
    
}

.header nav ul li a::after{
 content: "";
 position: absolute;
 top: 2.2rem;
 left: 100%;
 width: 0;
 height: 0.2rem;
 background-color: red;
 transition: all 300ms ease-in-out;
}

.header nav ul li a:hover::after{
    width: 97%;
    left: 1%;
}

.header nav ul li{
    padding: 0.5rem;
} 




/* slider  */


.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    max-width: 100%;
    margin: auto;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3{
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet{
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}


/* main/conteudo */


.titulo{
    font-size: 40px;
    margin-left: 5%;
    margin-top: 30px;
    font-family: "Racing Sans One", Sans-serif;
    letter-spacing: 1.2px;
}

#cont_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modalidades{
    width: 370px;
    height: 250px;
    
    background-color: #aaaaaa;
    margin: 10px;
    display: flex;
    border-radius: 15px;
    align-items: end;
    
}
.modalidades:nth-child(1){
    background-image: url('img/muay.png');
    background-size: cover;
}
.modalidades:nth-child(2){
    background-image: url('img/jiu.jpg');
    background-size: cover;
}
.modalidades:nth-child(3){
    background-image: url('img/funcional.jpg');
    background-size: cover;
}
.modalidades:nth-child(4){
    background-image: url('img/muay-kids.jpg');
    background-size: cover;
}
.modalidades:nth-child(5){
    background-image: url('img/jiu-kids.jpg');
    background-size: cover;
}
.modalidades:nth-child(6){
    background-image: url('img/mma.jpg');
    background-size: cover;
}



.modalidades h4{
    margin: 20px;
    font-size: 30px;
    font-family: 'Muro-Slant';
    font-weight: normal;
}

.modalidades:hover{
    transform: scale(1.02);
    transition: all 1s;
}


.aula_exp{
    width: 99.5%;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    background-color: #428bca;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.aula_exp_txt{
    display: flex;
    align-items: center;
    font-size: 50px;
    letter-spacing: 2px;
}
.aula_exp_txt span:nth-child(2){
    padding: 50px;
}
.aula_exp_txt span:nth-child(4){
    padding: 100px;
}
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contato p{
    font-size: 40px;
}

.btn_whtz{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: green;
    font-size: 30px;
    margin-top: 10px;
    text-decoration: none;
}

.btn_whtz:hover{
    background-color: #111111;
    color: #fff;
}






 @media (max-width: 768px) {
    .header, .nav{ 
        display: block;
    }
    .nav{
    text-align: center;
    }

    nav{
        display: none;
    }

    .header h1{
        text-align: left;
        display: block;
        margin: 13px;
   } 
   .material-icons{
    display: inline-block;
    visibility: visible;
   }

   .titulo{
    text-align: center;
    margin: 30px;
   }

   .modalidades{
    width: 330px;
    height: 225px;

    
}
} 